@model D_Einder_MVC.Models.MenuGerechten

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Ben je zeker of je dit wilt verwijderen?</h3>
<div class="main_inlog_border_three">
    <h4>MenuGerechten</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gerechten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gerechten.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menus.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GerechtenId" />
        <input type="hidden" asp-for="MenuId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
