@model D_Einder_MVC.Models.Menu

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Ben je zeker of je dit wilt verwijderen</h3>
<div class="main_inlog_border_three">
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuSoort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuSoort.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar overzicht</a>
    </form>
</div>
