@model D_Einder_MVC.Models.Ingredienten

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="main_inlog_border_three">
    <h4>Ingredienten</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eenheid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eenheid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Bewerk</a> |
    <a asp-action="Index">Terug naar overzicht</a>
</div>
