@model D_Einder_MVC.Models.DrinkBestellingen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="main_inlog_border_three">
    <h4>DrinkBestellingen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tafel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tafel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drink.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aantal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aantal)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
