@model D_Einder_MVC.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Ben je zeker of je dit wilt verwijderen?</h3>
<div class="main_inlog_border_three">
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reserveringen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reserveringen.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoeveelheid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoeveelheid)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MenuNaam" />
        <input type="hidden" asp-for="ReserveringenId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar overzicht</a>
    </form>
</div>
