@model IEnumerable<D_Einder_MVC.Models.Gerechten>

@{
    ViewData["Title"] = "Index";
}



<h1>Gerechten</h1>
<br /><p><a asp-action="Create" class="btn btn-success">Voeg Toe</a><p>
    <br />
<table id="customers">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                Naam
            </th>
            <th>
                Gerecht soort
            </th>
            <th>
                Bewerk
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <img src="~/images/chicken.png" alt="Sample Image" width="200px" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GerechtSoort)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
