@model IEnumerable<D_Einder_MVC.Models.GerechtenIngredienten>

@{
    ViewData["Title"] = "Index";
}



<h1>Gerechten Ingredienten</h1>
<br /><p><a asp-action="Create" class="btn btn-success">Voeg Toe</a><p>
    <br />
<table id="customers">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gerechten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredienten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hoeveelheid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Gerechten.Naam)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Ingredienten.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoeveelheid)
            </td>
                <td>
                    <a asp-controller="Gerechtens" asp-action="Edit" asp-route-id="@item.Gerechten.Id">Bewerk</a> |
                    <a asp-controller="Gerechtens" asp-action="Details" asp-route-id="@item.Gerechten.Id">Informatie</a> |
                    <a asp-controller="Gerechtens" asp-action="Delete" asp-route-id="@item.Gerechten.Id">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
